/**
 * @name Discord Revamp
 * @description A revamped theme inspired by the Discord promotional materials
 * @version 1.0
 * @author ruukulada
**/
.theme-dark,.theme-light,:root {
  --primary-100:hsl(30, 100%, 92%);  /* Light Beige */
  --primary-130:hsl(30, 87%, 87%);   /* Light Bronze */
  --primary-160:hsl(30, 77%, 82%);   /* Light Copper */
  --primary-200:hsl(30, 67%, 77%);   /* Pale Copper */
  --primary-230:hsl(30, 57%, 72%);   /* Soft Bronze */
  --primary-260:hsl(30, 47%, 67%);   /* Soft Copper */
  --primary-300:hsl(30, 37%, 62%);   /* Medium Copper */
  --primary-330:hsl(30, 27%, 57%);   /* Medium Bronze */
  --primary-345:hsl(30, 17%, 52%);   /* Deep Copper */
  --primary-360:hsl(30, 7%, 47%);    /* Deep Bronze */
  --primary-400:hsl(30, 6%, 44%);    /* Rich Copper */
  --primary-430:hsl(30, 5%, 41%);    /* Rich Bronze */
  --primary-460:hsl(30, 4%, 38%);    /* Dark Copper */
  --primary-500:hsl(30, 3%, 35%);    /* Dark Bronze */
  --primary-530:hsl(30, 2%, 32%);    /* Deep Brown */
  --primary-560:hsl(30, 1%, 29%);    /* Charcoal Brown */
  --primary-600:hsl(30, 0%, 26%);    /* Dark Charcoal */
  --primary-630:hsl(30, 0%, 23%);    /* Blackened Bronze */
  --primary-645:hsl(30, 0%, 20%);    /* Oiled Leather */
  --primary-660:hsl(30, 0%, 17%);    /* Smoky Black */
  --primary-700:hsl(30, 0%, 17%);    /* Smoky Black */
  --primary-730:hsl(30, 0%, 17%);    /* Smoky Black */
  --primary-760:hsl(30, 0%, 17%);    /* Smoky Black */
  --primary-800:hsl(30, 0%, 16%);    /* Charcoal Black */
  --primary-830:hsl(30, 0%, 16%);    /* Charcoal Black */
  --primary-860:hsl(30, 0%, 16%);    /* Charcoal Black */
  --primary-900:hsl(30, 0%, 15%);    /* Black */
  --primary-500-hsl:30 3% 35%;       /* Dark Bronze */
  --background-modifier-accent:var(--primary-630); /* Blackened Bronze */
  --background-modifier-active:var(--primary-600); /* Dark Charcoal */
  --background-modifier-hover:var(--primary-600); /* Dark Charcoal */
  --background-modifier-selected:var(--primary-560); /* Charcoal Brown */
  --search-popout-option-fade:transparent;
  --search-popout-option-fade-hover:transparent;
}

/* hide groomer junk */
/* nitro/shop page   */ a[data-list-item-id$="___nitro"], a[data-list-item-id$="___shop"],
/* help/nitro button */ a[href="https://support.discord.com"], button[aria-label="Send a gift"],
/* suggested friends */ div[aria-label="Friends"]>div[aria-label="Suggestions"],
/* activity button   */ div[class^="buttonContainer_"]:has(button[aria-label="Start An Activity"]),
/* call ui cleanup   */ div[class*="poppedOut_"], div[class^="voiceEffectsActionBar_"],
/* context cleanup   */ div[id="textarea-context"]>div>div[role="separator"], div[id="textarea-context-languages"],
/*                   */ div[id^="textarea-context-s"], div[id^="textarea-context-vcd-spellcheck"],
/* add/public server */ ul[data-list-id="guildsnav"]>div>:has(div[aria-label="Add a Server"]),
/*                   */ ul[data-list-id="guildsnav"]>div>:has(div[aria-label="Explore Discoverable Servers"])
  { display: none; }
/* fix inbox mask    */ foreignObject[mask="url(#svg-mask-avatar-status-round-16)"]
  { mask-mode: alpha; }
